.footer{

  .list{
    gap: 150px;
    margin-left: 0;
    text-align: center;

    .item{


      h4.title{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        text-transform: capitalize;
      }

      .inner-list{
        font-size: 18px;
        font-weight: 350;
        margin: 10px 0px;
        text-transform: capitalize;
      }
    }
  }
}